<%= form_for @document do |f| %>
	<div class="document-content">
		<h3>Content</h3>
		<%= f.text_field :title %>
		<%= f.select :type, Document::TYPES.invert %>
		<%= f.text_area :content %>
		<%= f.submit 'Save!' %>
	</div>
	<div class="document-links">
		<h3>Links</h3>
		<% @link_types.each do |id, name| %>
			<h4><%= name %></h4>
			<%= text_area_tag "document[links][#{id}]", @links[id.to_s], class: 'links' %>
		<% end %>
	</div>
<% end %>